---
const { label = 'Imprimer cette page' } = Astro.props;
---
<button class="btn print-button" type="button" data-print-button>{label}</button>
<script is:inline>
  document.querySelectorAll('[data-print-button]').forEach((button) => {
    button.addEventListener('click', () => window.print());
  });
</script>
